<p>
  Olá!
</p>

<p>
  Um novo trampo acabou de ser postado no Tá Safo TRAMPOS!
</p>


<h3>
  <%= link_to @job.title, job_url(@job) %>
</h3>

<p>
  Categoria: <%= @job.category.name %><br />
  Empresa: <%= @job.company_name %><br />
  Local: <%= @job.location %><br />
</p>

<p>
  Veja como se candidatar no <%= link_to "site deste anúncio", job_url(@job) %>.
</p>

<p>
  Atenciosamente,<br />
  <b>Equipe Tá Safo TRAMPOS</b>
</p>

<p>===</p>

<p>
  Você pode configurar seu perfil para não receber mais este tipo de mensagem.
</p>

<p>
  <%= link_to "Configure suas preferências de notificação aqui.", edit_user_registration_url %>
</p>