<nav>
  <%= link_to t("jobs.back_to_all_jobs"), root_path %>
</nav>

<div class="bs-callout bs-callout-danger">
  <h4>Período Gratuito</h4>
  <p>Aproveite o período gratuito para anunciar as suas oportunidades.</p>
</div>

<h1><%= t("jobs.my_jobs_title") %></h1>

<nav class="actions">
  <%= link_to t("jobs.advertize"), new_job_path, class: "btn btn-primary" %>
</nav>

<% if current_user.jobs.any? %>
  <% JobCategory.all.each do |category| %>
    <% if category.jobs.owned_by(current_user).any? %>
      <section class="jobs">
        <h1><%= category.name %></h1>

        <ul class="jobs">
          <% category.jobs.owned_by(current_user).each do |job| %>
            <li class="job">
              <h4><%= link_to job.title, job %></h4>
              <p>
                <span><%= job.company_name %></span> <%= t(:in)%> <span><%= job.location %></span> - <%= t(:posted_on) %> <span><%= l(job.created_at, format: :datetime_custom) %></span>
              </p>
            </li>
          <% end %>
        </ul>
      </section>
    <% end %>
  <% end %>
<% else %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <%= t("jobs.you_have_no_jobs") %>
  </div>
<% end %>
