<nav>
  <% if @job.user == current_user %>
    <%= link_to t("jobs.back_to_my_jobs"), my_jobs_path %>
  <% else %>
    <%= link_to t("jobs.back_to_all_jobs"), jobs_path %>
  <% end %>
</nav>

<% if @job.user == current_user %>
  <nav class="actions">
    <%= link_to t("edit"), edit_job_path(@job), class: "btn btn-primary" %>
    <%= link_to t("delete"), @job, method: :delete, data: { confirm: t("jobs.confirm_destroy") }, class: "btn btn-danger" %>
  </nav>
<% end %>

<header>
  <h1><%= @job.title %></h1>

  <dl>
    <dt><%= t(:company) %></dt>
    <dd><%= @job.company_name %></dd>
    
    <dt><%= t(:location) %></dt>
    <dd><%= @job.location %></dd>
    
    <% if @job.site_url.present? %>
      <dt><%= t(:site) %></dt>
      <dd><%= link_to @job.site_url, @job.site_url %></dd>
    <% end %>
    
    <dt><%= t(:posted_on) %></dt>
    <dd><%= @job.created_at.strftime "%d/%m/%Y" %></dd>
    
    <dt><%= t(:days_to_expire) %></dt>
    <dd><%= @job.days_to_expire %> 
      <%if @job.days_to_expire.nil? %>
        Não informado
      <% else %>
        <%= t(:days) %> 
      <% end %>
    </dd>

    <dt><%= t(:vacancy_completed) %></dt>
      <% if @job.vacancy_completed == true%>
        <dd><%= t(:confirmation) %></dd>
      <% else %>
        <dd><%= t(:negation) %></dd>
      <% end %>
  </dl>
</header>

<section class="job-description">
  <%= simple_format @job.description %>
</section>

<footer class="job-contact-message">
  <%= simple_format @job.contact_message %>
</footer>
