<nav>
  <%= link_to t("jobs.back_to_all_jobs"), root_path %>
</nav>

<header>
  <h1><%= @job.title %></h1>
  
  <% if @job.user == current_user %>
    <nav class="actions">
      <%= link_to t("edit"), edit_job_path(@job), class: "btn btn-primary" %>
      <%= link_to t("delete"), @job, method: :delete, data: { confirm: t("jobs.confirm_destroy") }, class: "btn btn-danger" %>
    </nav>
  <% end %>

  <dl>
    <dt><%= t(:company) %></dt>
    <dd><%= @job.company_name %></dd>
    <dt><%= t(:location) %></dt>
    <dd><%= @job.location %></dd>
    <% if @job.site_url.present? %>
      <dt><%= t(:site) %></dt>
      <dd><%= link_to @job.site_url, @job.site_url %></dd>
    <% end %>
  </dl>
</header>

<section class="job-description">
  <%= @job.description.html_safe %>
</section>

<footer class="job-contact-message">
  <%= @job.contact_message.html_safe %>
</footer>