<nav id="main_nav">
  <ul>
    <li class="<%= tab_active?(:jobs, :index) %>">
      <%= link_to t("jobs.home"), jobs_path %>
    </li>
    <li class="<%= tab_active?(:resumes, :index) %>">
      <%= link_to t("resumes.index_link"), resumes_path %>
    </li>
  </ul>
</nav>

<nav id="session_nav">
  <ul>
    <% if current_user %>
      <li class="<%= tab_active?(:jobs, :my_jobs) %>">
        <%= link_to t("jobs.my_jobs"), my_jobs_path %>
      </li>
      <li class="<%= tab_active?(:resumes, :show, (@resume && @resume.user == current_user)) %> <%= tab_active?(:resumes, :edit) %>">
        <%= link_to t("resumes.my_resume"), my_resume_path %>
      </li>

      <li class="<%= tab_active?(:registrations, :edit) %>">
        <%= link_to t("my_account"), edit_user_registration_path %>
      </li>

      <li>
        <%= link_to t("sign_out"), destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li class="<%= tab_active?(:sessions, :new) %>">
        <%= link_to t("sign_in"), new_user_session_path %>
      </li>

      <li class="<%= tab_active?(:registrations, :new) %>">
        <%= link_to t("sign_up"), new_user_registration_path %>
      </li>
    <% end %>
  </ul>
</nav>