<aside id="about_site">
  <p>
    <strong>Tá Safo JOBS</strong> é o melhor lugar para encontrar e anunciar vagas de empregos e currículos de membros da comunidade <%= link_to "Tá Safo!", "http://tasafo.org", target: "_blank" %>, a maior comunidade ágil e de tecnologia do Norte, com principal sede em Belém do Pará. Siga-nos no Twitter <%= link_to "@tasafo", "http://twitter.com/tasafo", target: "_blank" %>!
  </p>
</aside>

<% JobCategory.all.each do |category| %>
  <% if category.jobs.any? %>
    <section class="jobs">
      <h1><%= category.name %></h1>

      <ul class="jobs">
        <% category.jobs.each do |job| %>
          <li class="job">
            <h4><%= link_to job.title, job %></h4>
            <p><%= job.company_name %> <span>em</span> <%= job.location %></p>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>
<% end %>